.menu {
    background-color:#36494E;
    border: solid #36494E 1px;
}

.menu li{
    display: inline-block;
    margin: auto;
}
.menu ul {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.menu ul a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24pt;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 15px;
}
.menu ul p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 32pt;
    text-decoration: none;
    color: whitesmoke;

}
.sfondo{
    background-color:#597081;

}

.spiegazione{
    font-family: cursive;
    color: whitesmoke;
    text-decoration: none;
    font-size: 14pt;
    margin-left: 55px;
    margin-right: 15px
    
}
